<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieGems </title>
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TP11___Proyecto_final_de_4to.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav >
            <div class="container-fluid">
                <div class="text-center header">
                    <h1>
                        M<img src="/img/logo-transparente.png" alt="Logo" class="logo-img">VIE GEMS
                    </h1>
                    <p id="slogan">Las verdaderas gemas del cine</p>
                </div>
                <div class="nav">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">       
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <div class = "form">
                                 <form class="d-flex" role="search" action='@Url.Action("Busqueda")'>
                                    <input class="form-control me-2" name = "buscar" type="search" aria-label="Search">
                                    <input type="hidden" name = "idUser" value = "@ViewBag.idUsuario">
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                                <form action = '@Url.Action("Home")'>
                                    <button class="btn btn-outline-success">Mis películas</button>
                                    <input type="hidden" name="idUsuario" value="@ViewBag.idUsuario"/>
                                </form>
                                @if (@ViewBag.admin)
                                {
                                    <form action = '@Url.Action("AgregarPeli")' method="post">
                                        <button class="btn btn-outline-success">Agregar película</button>
                                        <input type="hidden" name="idUsuario" value="@ViewBag.idUsuario" />
                                    </form>
                                }
                                @if (@ViewBag.idUsuario != null)
                                {
                                    <form action = '@Url.Action("index")' method="post" id="cerrarSesion">
                                        <button class="btn btn-outline-success">Cerrar sesión</button>
                                    </form>
                                }
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted fixed-bottom espacio">
        <div class="container">
            &copy; 2023 - Micaela Riccardi y Tobias Granovsky
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
