<header>
        <nav >
            <div class="container-fluid">
                <div class="text-center header">
                    <h1 class="display-4">MOVIE GEMS</h1>
                    <p>Las verdaderas gemas del cine</p>
                </div>
                <div class="nav">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">       
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <div class = "form">
                                 <form class="d-flex" role="search" action='@Url.Action("Busqueda")'>
                                    <input class="form-control me-2" name = "buscar" type="search" aria-label="Search">
                                    <input type="hidden" name = "idUser" value = @ViewBag.idUsuario>
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                                <form action = '@Url.Action("Home")'>
                                    <button class="btn btn-outline-success">Mis películas</button> @* Tus películas (volves a la home) *@
                                     <input type="hidden" name="idUsuario" value=@ViewBag.idUsuario />
                                </form>
                            </div>
                        </div>
                    </nav>
                </div>
                <h2>Resultados para "@ViewBag.busqueda"</h2>
                    <div class="organizacion">
                        @foreach(Pelicula item in ViewBag.resultados)
                        {
                            <div class="col-3 col-md-3">
                                <div class="card">
                                    <img src="@item.foto" alt="@item.titulo">
                                    <h3 class="titulo-peli">@item.titulo</h3>
                                        <div class="contenidoCard">
                                        <button class="btn btn-primary masInfo" data-bs-toggle="modal" data-bs-target="#InfoModal" onclick="MostrarInfo(@item.idPelicula)">Más info</button>
                                        <input type="checkbox" id="checkboxInput" name="enlistado" onclick = "Enlistar(@item.idPelicula, @ViewBag.idUsuario)">
                                        <label for="checkboxInput" class="bookmark">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512" class="svgIcon"><path d="M0 48V487.7C0 501.1 10.9 512 24.3 512c5 0 9.9-1.5 14-4.4L192 400 345.7 507.6c4.1 2.9 9 4.4 14 4.4c13.4 0 24.3-10.9 24.3-24.3V48c0-26.5-21.5-48-48-48H48C21.5 0 0 21.5 0 48z"></path></svg>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
            </div>
        </nav>
</header>