<header>
        <nav >
            <div class="container-fluid">
                <div class="text-center header">
                    <h1 class="display-4">MOVIE GEMS</h1>
                    <p id="slogan">Las verdaderas gemas del cine</p>
                </div>
                <div class="nav">
                    <nav class="navbar navbar-expand-lg bg-body-tertiary">       
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <div class = "form">
                                <form class="d-flex" role="search" action='@Url.Action("Busqueda")'>
                                    <input class="form-control me-2" name = "buscar" type="search" aria-label="Search">
                                    <input type="hidden" name = "idUser" value = @ViewBag.idUsuario>
                                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                                </form>
                            </div>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </nav>
</header>
        <button class="tablink" onclick="openPage('Vistos', this, 'grey')">Vistos</button>
        <button class="tablink" onclick="openPage('QuieroVer', this, 'grey')" id="defaultOpen">Quiero ver</button>

<div id="Vistos" class="tabcontent cardcontainer">
    <div class="organizacion">
         @foreach (Pelicula clave in ViewBag.dicPelisVistas.Keys)
        {
             <div class="col-3 col-md-3">
                <div class="card">
                    <button class="cerrar" data-bs-toggle="modal" data-bs-target="#EliminacionModal" onclick="ModelEliminarPeli(@clave.idPelicula)">x</button>
                    <img src="@clave.foto" alt="@clave.titulo">
                    <h3 class="titulo-peli">@clave.titulo</h3>
                    <div class="contenidoCard">
                        <button class="btn btn-primary masInfo" data-bs-toggle="modal" data-bs-target="#ModalOpinion" onclick="ModalOpinion(@clave.idPelicula, @ViewBag.idUsuario)">Tu opinión</button>
                        <div class="rating" id="rating-card_@clave.idPelicula">
                            @if(ViewBag.dicPelisVistas[clave] != null)
                            {                                
                                for(int i=ViewBag.dicPelisVistas[clave].calificacion;i<5; i++)
                                {   
                                    <label for="star" id="star" class="unchecked"></label>
                                }
                                for (int i = 1; i <= ViewBag.dicPelisVistas[clave].calificacion; i++)
                                {
                                    <label for="star" id="star"></label>     
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div id="QuieroVer" class="tabcontent cardcontainer">
    <div class="organizacion">
        @foreach(Pelicula item in ViewBag.pelisPorVer)
        {
            <div class="col-3 col-md-3">
                <div class="card">
                    <button class="cerrar" data-bs-toggle="modal" data-bs-target="#EliminacionModal" onclick="ModelEliminarPeli(@item.idPelicula)">x</button>
                    <img src="@item.foto" alt="@item.titulo">
                    <h3 class="titulo-peli">@item.titulo</h3>
                    <div class="contenidoCard">
                        <button class="btn btn-primary masInfo" data-bs-toggle="modal" data-bs-target="#InfoModal" onclick="MostrarInfo(@item.idPelicula)">Más info</button>
                        <input type="checkbox" class="ui-checkbox" onclick="CambiarEstadoPeli(@item.idPelicula, @ViewBag.idUsuario)">
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<div class="modal fade" id="InfoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="titulo"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="portada-info">
                <div id="infoPeli"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
            
            
<div class="modal fade" id="EliminacionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="portada-eliminar">
                <div id="prompt"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <div id="user" data-idusuario="@ViewBag.idUsuario">                      
                    <button id="borrar" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sí</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalOpinion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="titulo-op"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form onsubmit="event.preventDefault(); GuardarRating(this.opinion.value, this.calificacion.value, this.idPelicula.value, this.idUsuario.value)">
                <input id="paraPasarIdPeli" name="idPelicula" type="hidden">
                <input type="hidden" name="idUsuario" value="@ViewBag.idUsuario">
                <div class="modal-body">
                    <img id="portada-op">
                    <div id="opinion-content">
                        <textarea name="opinion" id="opinionTexto"  class="form-control" aria-label="With textarea" rows="10" cols="40"></textarea>
                        <div class="rating">
                            <input value="5" name="calificacion" id="star5" type="radio">
                            <label for="star5"></label>
                            <input value="4" name="calificacion" id="star4" type="radio">
                            <label for="star4"></label>
                            <input value="3" name="calificacion" id="star3" type="radio">
                            <label for="star3"></label>
                            <input value="2" name="calificacion" id="star2" type="radio">
                            <label for="star2"></label>
                            <input value="1" name="calificacion" id="star1" type="radio">
                            <label for="star1"></label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>